<?php include('header.html'); ?>

  <body>
<div class="layui-fluid">
    <div class="layui-row">
        <form id="form" class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>名称
                </label>
                <div class="layui-input-inline">
                  <input value="<?=$info['name']?>" placeholder="请填写名称" type="text" maxlength="30" name="name" required="" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>图标
                </label>
                <div class="layui-input-inline">
                    <input type="file" name="upfile">
                </div>
                <div class="layui-input-inline">
                    <?=$info['logo']?>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>状态
                </label>
                <div class="layui-input-inline">
                    <select name="status" lay-verify="required">
                        <option value="1">显示</option>
                        <option value="0" <?php if(0==$info['status']){ ?>selected<?php } ?>>隐藏</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <input type="hidden" name="id" value="<?=$info['id']?>">
                <input type="hidden" name="formhash" value="<?=encode_formhash()?>">
                <label class="layui-form-label"></label>
                <button class="layui-btn" lay-filter="add" lay-submit="">提交</button>
            </div>
      </form>
    </div>
</div>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
            var form = layui.form, layer = layui.layer;

            //监听提交
            form.on('submit(add)', function(data){
                var formData = new FormData($("#form")[0]);
                $.ajax({
                    type: 'POST',
                    url: '<?=gurl("xicheManage/carBrandUpdate")?>',
                    data: formData,
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    dataType: 'json',
                    timeout: 10000,
                    success: function(list){
                        layer.closeAll();
                        if(list.errorcode != 0) {
                            return layer.msg(list.message);
                        }
                        layer.alert("修改成功", {icon: 6},function () {
                            parent.location.reload();
                        });
                    },
                    beforeSend: function(xhr){
                        layer.load();
                    },
                    error: function(xhr, type){
                        layer.closeAll();
                        layer.msg('网络错误，请重试!');
                    }
                });
                return false;
            });

        });
    </script>

  </body>

</html>
