<?php include('header.html'); ?>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a><cite>卡类型</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <xblock>
        <button class="layui-btn" onclick="x_admin_show('添加卡类型','<?=gurl('xicheManage/cardTypeAdd')?>')"><i class="layui-icon"></i>添加</button>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>名称</th>
            <th>价格(元)</th>
            <th>免费时间</th>
            <th>状态</th>
            <th>排序</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($list as $k=>$v){ ?>
        <tr>
            <td><?=$v['id']?></td>
            <td><?=$v['name']?></td>
            <td><?=round_dollar($v['price'])?></td>
            <td><?=$v['months']?$v['months'].'个月':''?><?=$v['days']?$v['days'].'天':''?></td>
            <td><?=$v['status']?'正常':'禁用'?></td>
            <td><?=$v['sort']?></td>
            <td class="td-manage">
                <button class="layui-btn layui-btn layui-btn-xs" onclick="x_admin_show('编辑','<?=gurl('xicheManage/cardTypeUpdate',['id'=>$v['id']])?>')"><i class="layui-icon"></i>编辑</button>
            </td>
        </tr>
        <?php } ?>
        </tbody>
    </table>
</div>

</body>

</html>
