<?php include('header.html'); ?>

  <body>
<div class="layui-fluid">
    <div class="layui-row">
        <form id="form" class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">
                  <span class="x-red">*</span>车型名称
                </label>
                <div class="layui-input-inline">
                  <input value="<?=$info['name']?>" placeholder="请填写车型名称" type="text" maxlength="30" name="name" required="" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>品牌
                </label>
                <div class="layui-input-inline">
                    <select name="brand_id" lay-verify="required">
                        <option value="">请选择品牌</option>
                        <?php foreach($brands as $k=>$v){ ?>
                        <option <?php if($info['brand_id']==$k){ ?>selected<?php } ?> value="<?=$k?>"><?=$v?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>车型
                </label>
                <div class="layui-input-inline">
                    <select name="car_type_id" lay-verify="required">
                        <option value="">请选择车型</option>
                        <?php foreach($carType as $k=>$v){ ?>
                        <option <?php if($info['car_type_id']==$k){ ?>selected<?php } ?> value="<?=$k?>"><?=$v?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>状态
                </label>
                <div class="layui-input-inline">
                    <select name="status" lay-verify="required">
                        <option value="1">显示</option>
                        <option value="0" <?php if($info['status']==0){ ?>selected<?php } ?>>隐藏</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <input type="hidden" name="id" value="<?=$info['id']?>">
                <input type="hidden" name="formhash" value="<?=encode_formhash()?>">
                <label class="layui-form-label"></label>
                <button class="layui-btn" lay-filter="add" lay-submit="">提交</button>
            </div>
      </form>
    </div>
</div>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
            var form = layui.form, layer = layui.layer;

            //监听提交
            form.on('submit(add)', function(data){
                $.ajax({
                    type: 'POST',
                    url: '<?=gurl("xicheManage/carSeriesUpdate")?>',
                    data: data.field,
                    dataType: 'json',
                    timeout: 10000,
                    success: function(list){
                       layer.closeAll();
                       if(list.errorcode != 0) {
                           return layer.msg(list.message);
                       }
                       layer.alert("修改成功", {icon: 6},function () {
                           parent.location.reload();
                       });
                    },
                    beforeSend: function(xhr){
                       layer.load();
                    },
                    error: function(xhr, type){
                       layer.closeAll();
                       layer.msg('网络错误，请重试!');
                    }
                });
                return false;
          });

        });
    </script>

  </body>

</html>
