<?php include('header.html'); ?>

  <body>
    <div class="x-body">
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>值
                </label>
                <div class="layui-input-inline">
                    <?php if($info['type'] == 'textarea'){ ?>
                    <textarea placeholder="请输入内容" name="value" class="layui-textarea"><?=$info['value']?></textarea>
                    <?php }elseif($info['type'] == 'number'){ ?>
                    <input placeholder="请输入内容" type="tel" name="value" class="layui-input" value="<?=$info['value']?>">
                    <?php }elseif($info['type'] == 'bool'){ ?>
                    <input type="checkbox" name="value" lay-skin="switch" lay-text="开启|关闭" value="1" <?php if($info['value']){ ?>checked<?php } ?>>
                    <?php }else{ ?>
                    <input placeholder="请输入内容" type="text" name="value" class="layui-input" value="<?=$info['value']?>">
                    <?php } ?>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-input-inline">
                    <?=$info['description']?>
                </div>
            </div>
          <div class="layui-form-item">
              <label class="layui-form-label"></label>
              <button class="layui-btn" lay-filter="edit" lay-submit="">保存</button>
          </div>
      </form>
    </div>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;

            //监听提交
          form.on('submit(edit)', function(data){

              data.field['formhash'] = "<?=encode_formhash()?>";
              data.field['id'] = "<?=$info['id']?>";
              $.ajax({
                  type: 'POST',
                  url: '<?=gurl('xicheManage/configUpdate')?>',
                  data: data.field,
                  dataType: 'json',
                      timeout: 5000,
                      success: function(list){
                      layer.closeAll();
                      if(list.errorcode != 0) {
                          return layer.msg(list.message);
                      }
                      layer.alert(list.message, {icon: 6},function () {
                          parent.location.reload();
                      });
                  },
                  beforeSend: function(xhr){
                      layer.load();
                  },
                  error: function(xhr, type){
                      layer.closeAll();
                      layer.msg('网络错误，请重试!');
                  }
              });
            return false;
          });


        });
    </script>

  </body>

</html>
