<?php include('header.html'); ?>

<body>
<div class="x-nav">
    <span class="layui-breadcrumb">
        <a><cite>系统配置</cite></a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body card-table">
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th>配置项</th>
                            <th>值</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach($list as $k=>$v){ ?>
                        <tr>
                            <td><?=$v['description']?></td>
                            <td title="<?=$v['name']?>">
                                <?php if($v['type']=='bool'){ ?>
                                <?=$v['value']?'是':'否'?>
                                <?php }else{ ?>
                                <?=$v['value']?>
                                <?php } ?>
                            </td>
                            <td class="td-manage">
                                <button class="layui-btn" title="编辑配置" onclick="xadmin.open('编辑配置','<?=gurl('xicheManage/configUpdate',['id'=>$v['id']])?>')" href="javascript:;">
                                    <i class="layui-icon">&#xe642;</i>编辑
                                </button>
                            </td>
                        </tr>
                        <?php } ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
