<!DOCTYPE html>
<html>
  
  <head>
      <meta charset="UTF-8">
      <title>后台管理</title>
      <meta name="renderer" content="webkit">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
      <link rel="stylesheet" href="<?=APPLICATION_URL?>/static/X-admin/css/font.css">
      <link rel="stylesheet" href="<?=APPLICATION_URL?>/static/X-admin/css/xadmin.css">
      <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
      <script type="text/javascript" src="<?=APPLICATION_URL?>/static/X-admin/lib/layui/layui.js" charset="utf-8"></script>
      <script type="text/javascript" src="<?=APPLICATION_URL?>/static/X-admin/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-body">
        <form class="layui-form">
          <div class="layui-form-item">
              <label class="layui-form-label">
                  <span class="x-red">*</span>区块
              </label>
              <div class="layui-input-inline">
                  <select lay-verify="required" lay-filter="areaid" id="areaid" name="areaid" class="valid">
                      <option value="">请选择区块</option>
                      <?php foreach($area_list as $k=>$v){ ?>
                      <option value="<?=$v['AreaID']?>"><?=$v['AreaName']?></option>
                      <?php } ?>
                  </select>
              </div>
          </div>
          <div class="layui-form-item layui-form-text">
              <label class="layui-form-label">
                  <span class="x-red">*</span>设备
              </label>
              <div class="layui-input-block">
                  <table class="layui-table">
                      <tr>
                          <th width="20%">#</th>
                          <th width="20%">设备编码</th>
                          <th width="20%">区块名称</th>
                          <th width="20%">价格</th>
                          <th width="20%">在线状态</th>
                      </tr>
                    <tbody id="devcode-list">
                      <tr>
                        <td colspan="4">请先选择区块</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
          </div>
          <div class="layui-form-item">
              <label class="layui-form-label"></label>
              <button class="layui-btn" lay-filter="add" lay-submit="">提交</button>
          </div>
      </form>
    </div>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;

            form.on('select(areaid)', function(data){
                if (!data.value) {
                    $('#devcode-list').html('<tr><td colspan="4">请先选择区块</td></tr>');
                    return;
                }
                $.ajax({
                    type: 'POST',
                    url: '<?=gurl('xicheManage/getDev')?>',
                    data: {AreaId:data.value},
                    dataType: 'json',
                    timeout: 5000,
                    success: function(list){
                        layer.closeAll();
                        if(list.errorcode != 0) {
                            return layer.msg(list.message);
                        }
                        var html = [];
                        list.data.forEach(function(n,i){
                            html.push('<tr><td><input value="'+n['DeviceCode']+'" name="devcode" type="radio"></td><td>'+n['DeviceCode']+'</td><td>'+n['AreaName']+'</td><td>'+n['Price']+'元</td><td>'+(n['IsOnline']?'在线':'离线')+'</td></tr>');
                        });
                        $('#devcode-list').html(html.join(''));
                        form.render('radio');
                    },
                    beforeSend: function(xhr){
                        layer.load();
                    },
                    error: function(xhr, type){
                        layer.closeAll();
                        layer.msg('网络错误，请重试!');
                    }
                });
            });

            //监听提交
          form.on('submit(add)', function(data){

              data.field['formhash'] = "<?=encode_formhash()?>";
              $.ajax({
                  type: 'POST',
                  url: '<?=gurl('xicheManage/deviceAdd')?>',
                  data: data.field,
                  dataType: 'json',
                      timeout: 5000,
                      success: function(list){
                      layer.closeAll();
                      if(list.errorcode != 0) {
                          return layer.msg(list.message);
                      }
                      layer.alert("增加成功", {icon: 6},function () {
                          parent.location.reload();
                      });
                  },
                  beforeSend: function(xhr){
                      layer.load();
                  },
                  error: function(xhr, type){
                      layer.closeAll();
                      layer.msg('网络错误，请重试!');
                  }
              });
            return false;
          });


        });
    </script>

  </body>

</html>