<?php include('header.html'); ?>

  <body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
          <div class="layui-form-item">
              <label class="layui-form-label">
                  <span class="x-red">*</span>区块
              </label>
              <div class="layui-input-inline">
                  <select lay-verify="required" lay-filter="areaid" id="areaid" name="areaid" class="valid">
                      <option value="">请选择区块</option>
                      <?php foreach($area_list as $k=>$v){ ?>
                      <option value="<?=$v['AreaID']?>"><?=$v['AreaName']?></option>
                      <?php } ?>
                  </select>
              </div>
          </div>
          <div class="layui-form-item layui-form-text">
              <label class="layui-form-label">
                  <span class="x-red">*</span>设备
              </label>
              <div class="layui-input-block">
                  <table class="layui-table">
                      <tr>
                          <th width="20%">#</th>
                          <th width="20%">设备编码</th>
                          <th width="20%">区块名称</th>
                          <th width="20%">价格</th>
                          <th width="20%">在线状态</th>
                      </tr>
                    <tbody id="devcode-list">
                      <tr>
                        <td colspan="5">请先选择区块</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
          </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>区域代码
                </label>
                <div class="layui-input-inline">
                    <input placeholder="请填写区域代码 (贵阳:520100)" type="tel" maxlength="6" id="adcode" name="adcode" required="" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline" style="line-height: 30px">
                    <i class="layui-icon">&#xe60b;</i> <a href="http://www.mca.gov.cn/article/sj/xzqh/1980/2019/201903011116.html" target="_blank">行政区划代码查询</a>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>设备地址
                </label>
                <div class="layui-input-inline">
                    <input placeholder="请填写设备地址" type="text" maxlength="200" id="address" name="address" required="" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>经纬度
                </label>
                <div class="layui-input-inline" style="width: 320px;">
                    <input placeholder="请输入经纬度坐标,格式为“经度,纬度”,坐标系为gcj02" type="text" maxlength="30" id="location" name="location" required="" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline" style="line-height: 30px">
                    <i class="layui-icon">&#xe60b;</i> <a href="http://www.gpsspg.com/maps.htm" target="_blank">经纬度查询</a>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>场地名称
                </label>
                <div class="layui-input-inline">
                    <input placeholder="请填写场地名称" type="text" maxlength="20" name="site" required="" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline" style="line-height: 30px;width: 300px;">
                    <i class="layui-icon">&#xe60b;</i> 用于地图显示，相同的场地会合并为一块
                </div>
            </div>
          <div class="layui-form-item">
              <label class="layui-form-label"></label>
              <button class="layui-btn" lay-filter="add" lay-submit="">提交</button>
          </div>
      </form>
    </div>
</div>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;

            form.on('select(areaid)', function(data){
                if (!data.value) {
                    $('#devcode-list').html('<tr><td colspan="5">请先选择区块</td></tr>');
                    return;
                }
                $.ajax({
                    type: 'POST',
                    url: '<?=gurl('xicheManage/getDev')?>',
                    data: {AreaId:data.value},
                    dataType: 'json',
                    timeout: 5000,
                    success: function(list){
                        layer.closeAll();
                        if(list.errorcode != 0) {
                            return layer.msg(list.message);
                        }
                        var html = [];
                        list.result.forEach(function(n,i){
                            html.push('<tr><td><input value="'+n['DeviceCode']+'" name="devcode" type="radio"></td><td>'+n['DeviceCode']+'</td><td>'+n['AreaName']+'</td><td>'+n['Price']+'元</td><td>'+(n['IsOnline']?'在线':'离线')+'</td></tr>');
                        });
                        $('#devcode-list').html(html.join(''));
                        form.render('radio');
                    },
                    beforeSend: function(xhr){
                        layer.load();
                    },
                    error: function(xhr, type){
                        layer.closeAll();
                        layer.msg('网络错误，请重试!');
                    }
                });
            });

            //监听提交
          form.on('submit(add)', function(data){

              data.field['formhash'] = "<?=encode_formhash()?>";
              $.ajax({
                  type: 'POST',
                  url: '<?=gurl('xicheManage/deviceAdd')?>',
                  data: data.field,
                  dataType: 'json',
                      timeout: 5000,
                      success: function(list){
                      layer.closeAll();
                      if(list.errorcode != 0) {
                          return layer.msg(list.message);
                      }
                      layer.alert("增加成功", {icon: 6},function () {
                          parent.location.reload();
                      });
                  },
                  beforeSend: function(xhr){
                      layer.load();
                  },
                  error: function(xhr, type){
                      layer.closeAll();
                      layer.msg('网络错误，请重试!');
                  }
              });
            return false;
          });


        });
    </script>

  </body>

</html>
