<?php include('header.html'); ?>

  <body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <input type="hidden" name="id" value="<?=$device_info['id']?>">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">
                    <span class="x-red">*</span>设备编码
                </label>
                <div class="layui-input-inline">
                    <input type="text" name="devcode" disabled class="layui-input" value="<?=$device_info['devcode']?>">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">
                    <span class="x-red">*</span>区块名称
                </label>
                <div class="layui-input-inline">
                    <input required lay-verify="required" type="text" name="areaname" class="layui-input" value="<?=$device_info['areaname']?>">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>在线状态
                </label>
                <div class="layui-input-inline">
                    <select id="isonline" name="isonline" class="valid">
                        <option <?php if($device_info['isonline']==0){ ?> selected <?php } ?> value="0">离线</option>
                        <option <?php if($device_info['isonline']==1){ ?> selected <?php } ?> value="1">在线</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">
                    <span class="x-red">*</span>价格:元
                </label>
                <div class="layui-input-inline">
                    <input maxlength="4" required lay-verify="required" type="text" name="price" class="layui-input" value="<?=$device_info['price']/100?>">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>设置为未使用
                </label>
                <div class="layui-input-block">
                    <input value="1" type="checkbox" name="usetime" lay-skin="primary" title="是">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>区域代码
                </label>
                <div class="layui-input-inline">
                    <input value="<?=$device_info['adcode']?>" placeholder="请填写区域代码 (贵阳:520100)" type="tel" maxlength="6" id="adcode" name="adcode" required="" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline" style="line-height: 30px">
                    <i class="layui-icon">&#xe60b;</i> <a href="http://www.mca.gov.cn/article/sj/xzqh/1980/2019/201903011116.html" target="_blank">行政区划代码查询</a>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>设备地址
                </label>
                <div class="layui-input-inline">
                    <input value="<?=$device_info['address']?>" placeholder="请填写设备地址" type="text" maxlength="200" id="address" name="address" required="" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>经纬度
                </label>
                <div class="layui-input-inline" style="width: 320px;">
                    <input value="<?=$device_info['location']?>" placeholder="请输入经纬度坐标,格式为“经度,纬度”,坐标系为gcj02" type="text" maxlength="30" id="location" name="location" required="" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline" style="line-height: 30px">
                    <i class="layui-icon">&#xe60b;</i> <a href="http://www.gpsspg.com/maps.htm" target="_blank">经纬度查询</a>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>场地名称
                </label>
                <div class="layui-input-inline">
                    <input value="<?=$device_info['site']?>" placeholder="请填写场地名称" type="text" maxlength="20" name="site" required="" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline" style="line-height: 30px;width: 300px;">
                    <i class="layui-icon">&#xe60b;</i> 用于地图显示，相同的场地会合并为一块
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <button class="layui-btn" lay-filter="edit" lay-submit="">保存</button>
            </div>
      </form>
    </div>
</div>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;

            //监听提交
          form.on('submit(edit)', function(data){

              data.field['formhash'] = "<?=encode_formhash()?>";
              $.ajax({
                  type: 'POST',
                  url: '<?=gurl('xicheManage/deviceUpdate')?>',
                  data: data.field,
                  dataType: 'json',
                      timeout: 5000,
                      success: function(list){
                      layer.closeAll();
                      if(list.errorcode != 0) {
                          return layer.msg(list.message);
                      }
                      layer.alert("修改成功", {icon: 6},function () {
                          parent.location.reload();
                      });
                  },
                  beforeSend: function(xhr){
                      layer.load();
                  },
                  error: function(xhr, type){
                      layer.closeAll();
                      layer.msg('网络错误，请重试!');
                  }
              });
            return false;
          });


        });
    </script>

  </body>

</html>
