<?php include('header.html'); ?>

<body>
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo"><a href="./index.html">洗车后台管理</a></div>
        <div class="left_open">
            <i title="展开左侧栏" class="iconfont">&#xe699;</i>
        </div>
        <ul class="layui-nav right" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;"><?=$user_info['nickname']?></a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="<?=gurl('xicheManage/logout')?>">退出</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item to-index"><a href="?">后台首页</a></li>
        </ul>
    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
     <!-- 左侧菜单开始 -->
    <div class="left-nav">
      <div id="side-nav">
        <ul id="nav">
            <li>
                <a _href="<?=gurl('xicheManage/store')?>">
                    <i class="iconfont">&#xe722;</i>
                    <cite>店铺管理</cite>
                    <i class="iconfont nav_right">&#xe6a7;</i>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6e3;</i>
                    <cite>车位管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="<?=gurl('xicheManage/area')?>">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>区域</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="<?=gurl('xicheManage/parking')?>">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>车位状态</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe723;</i>
                    <cite>订单管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="<?=gurl('xicheManage/xicheOrder')?>">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>自助洗车</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="<?=gurl('xicheManage/parkOrder')?>">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>停车场洗车</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a _href="<?=gurl('xicheManage/user')?>">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>用户管理</cite>
                    <i class="iconfont nav_right">&#xe6a7;</i>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe753;</i>
                    <cite>洗车卡管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="<?=gurl('xicheManage/cardType')?>">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>洗车卡</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="<?=gurl('xicheManage/cardRecord')?>">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>缴费记录</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a _href="<?=gurl('xicheManage/item')?>">
                    <i class="iconfont">&#xe6f6;</i>
                    <cite>洗车套餐</cite>
                    <i class="iconfont nav_right">&#xe6a7;</i>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6da;</i>
                    <cite>设备管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="<?=gurl('xicheManage/device')?>">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>设备列表</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="<?=gurl('xicheManage/log')?>">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>日志查看</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a _href="<?=gurl('xicheManage/config')?>">
                    <i class="iconfont">&#xe6ae;</i>
                    <cite>系统配置</cite>
                    <i class="iconfont nav_right">&#xe6a7;</i>
                </a>
            </li>
        </ul>
      </div>
    </div>
    <!-- <div class="x-slide_left"></div> -->
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
          <ul class="layui-tab-title">
            <li class="home"><i class="layui-icon">&#xe68e;</i>首页</li>
          </ul>
          <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe id="iframe-main" src="<?=gurl('XicheManage/welcome')?>" frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
          </div>
        </div>
    </div>
    <div class="page-content-bg"></div>
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    <div class="footer">
        <div class="copyright">
            Copyright ©2019 All Rights Reserved
        </div>
        <audio id="audioObj" src=""></audio>
        <canvas style="position: absolute; right: 5px; bottom: 5px; display: none" id="audioCanvas" width="30" height="30"></canvas>
    </div>
    <!-- 底部结束 -->
<script type="text/javascript">

    layui.use(['layer'], function(){
        drawCircle(audioCanvas, 0);
        audioObj.addEventListener('ended', function(){
            audioCanvas.style.display = 'none';
            createAudio(shiftAudio());
        }, false);
        audioObj.addEventListener('timeupdate', function(){
            if (!isNaN(audioObj.duration)) {
                var progressValue = audioObj.currentTime/audioObj.duration;
                if(progressValue == 1){
                    progressValue = 0;
                }
                drawCircle(audioCanvas, progressValue);
            }
        }, false);
        layer.confirm('是否开启语音播报？',function(index){
            layer.closeAll();
            audioOn = true;
            createAudio({
                audio: '<?=APPLICATION_URL?>/static/audio/on.mp3',
            });
        });
    });

    var audioOn = false;
    var audioList = [];
    var audioObj = document.getElementById('audioObj');
    var audioCanvas = document.getElementById('audioCanvas');
    function pushAudio (src) {
        audioList.push(src);
    }
    function shiftAudio(){
        return audioList.length ? audioList.shift() : null;
    }

    function loadNotice () {
        if (!audioOn) {
            return;
        }
        setTimeout(function(){
            $.ajax({
                type: 'get',
                url: "<?=gurl('xicheManage/noticeAlert')?>",
                dataType: 'json',
                timeout: 1000,
                success: function(res){
                    var result = res.result;
                    if (result.noticeData) {
                        if (result.noticeData) {
                            for (var n in result.noticeData) {
                                pushAudio(result.noticeData[n]);
                            }
                            result = null;
                            // 播放声音
                            createAudio(shiftAudio());
                        }
                    } else {
                        loadNotice();
                    }
                },
                beforeSend: function(xhr){
                    console.log('--loadNotice');
                },
                error: function(xhr, type){
                    console.log('--loadNotice Error' + type);
                    loadNotice();
                }
            });
        }, 30000);
    }

    function createAudio (src) {
        if (!src) {
            loadNotice();
            return;
        }
        if (src.title && typeof src.title != 'undefined') {
            layer.msg('<i class="layui-icon">&#xe667;</i> 正在播报' + src.title + ' (' + src.num + '条)');
        }
        audioCanvas.style.display = 'block';
        drawCircle(audioCanvas, 0);
        audioObj.src = src.audio;
        try {
            audioObj.pause();
            audioObj.play();
        } catch (e) {
            console.log('--audio play error' + JSON.stringify(e))
            loadNotice();
        }
    }

    function drawCircle (canvas, percentage) {
        var canvasWidth = 30;
        var innerR = canvasWidth * 0.8 * 0.5;//半径
        var ctx;
        canvas.setAttribute('width', canvasWidth + 'px');
        canvas.setAttribute('height', canvasWidth + 'px');
        if (canvas.getContext) {
            ctx = canvas.getContext('2d');
        }
        ctx.translate(canvasWidth / 2, canvasWidth / 2);
        ctx.beginPath();
        ctx.arc(0, 0, innerR, 0, Math.PI * 2, false);
        ctx.lineWidth = canvasWidth / 10;
        ctx.strokeStyle = "#F0F0F0";
        ctx.stroke();
        ctx.beginPath();
        ctx.arc(0, 0, innerR, Math.PI * 3 / 2, (Math.PI * 3 / 2 + Math.PI * 2 / 180 + percentage * Math.PI * 2), false);
        ctx.lineWidth = canvasWidth / 10;
        ctx.strokeStyle = "#EEBD44";
        ctx.stroke();
    }
</script>
</body>
</html>
