<?php include('header.html'); ?>

<body>
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo"><a href="./index.html">后台管理</a></div>
        <div class="left_open">
            <i title="展开左侧栏" class="iconfont">&#xe699;</i>
        </div>
        <ul class="layui-nav right" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;"><?=$user_info['telephone']?></a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="<?=gurl('xicheManage/logout')?>">退出</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item to-index"><a href="?">后台首页</a></li>
        </ul>
    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
     <!-- 左侧菜单开始 -->
    <div class="left-nav">
      <div id="side-nav">
        <ul id="nav">
            <li>
                <a _href="<?=gurl('xicheManage/device')?>">
                    <i class="iconfont">&#xe6da;</i>
                    <cite>设备管理</cite>
                    <i class="iconfont nav_right">&#xe6a7;</i>
                </a>
            </li>
            <li>
                <a _href="<?=gurl('xicheManage/order')?>">
                    <i class="iconfont">&#xe723;</i>
                    <cite>订单管理</cite>
                    <i class="iconfont nav_right">&#xe6a7;</i>
                </a>
            </li>
            <li>
                <a _href="<?=gurl('xicheManage/log')?>">
                    <i class="iconfont">&#xe6bf;</i>
                    <cite>日志管理</cite>
                    <i class="iconfont nav_right">&#xe6a7;</i>
                </a>
            </li>
            <li>
                <a _href="<?=gurl('xicheManage/config')?>">
                    <i class="iconfont">&#xe6ae;</i>
                    <cite>系统配置</cite>
                    <i class="iconfont nav_right">&#xe6a7;</i>
                </a>
            </li>
        </ul>
      </div>
    </div>
    <!-- <div class="x-slide_left"></div> -->
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
          <ul class="layui-tab-title">
            <li class="home"><i class="layui-icon">&#xe68e;</i>首页</li>
          </ul>
          <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
          </div>
        </div>
    </div>
    <div class="page-content-bg"></div>
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    <div class="footer">
        <div class="copyright">Copyright ©2018 All Rights Reserved</div>
    </div>
    <!-- 底部结束 -->
</body>
</html>
