<?php include('header.html'); ?>

  <body>
<div class="layui-fluid">
    <div class="layui-row">
        <form id="form" class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">
                  <span class="x-red">*</span>项目名
                </label>
                <div class="layui-input-inline">
                  <input placeholder="请填写项目名" type="text" maxlength="30" name="name" required="" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    建议价
                </label>
                <div class="layui-input-inline">
                    <input placeholder="请填写建议价(元)" type="text" maxlength="5" name="price" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    首单免费
                </label>
                <div class="layui-form-radio">
                    <input type="checkbox" name="firstorder" lay-skin="switch" lay-text="开启|关闭" value="1">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    服务车型
                </label>
                <div class="layui-input-inline">
                    <select name="car_type_id">
                        <option value="">不限</option>
                        <?php foreach($carType as $k=>$v){ ?>
                        <option value="<?=$k?>"><?=$v?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <input type="hidden" name="formhash" value="<?=encode_formhash()?>">
                <label class="layui-form-label"></label>
                <button class="layui-btn" lay-filter="add" lay-submit="">提交</button>
            </div>
      </form>
    </div>
</div>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
            var form = layui.form, layer = layui.layer;

            //监听提交
            form.on('submit(add)', function(data){
                $.ajax({
                    type: 'POST',
                    url: "<?=gurl('xicheManage/itemAdd')?>",
                    data: data.field,
                    dataType: 'json',
                    timeout: 10000,
                    success: function(list){
                       layer.closeAll();
                       if(list.errorcode != 0) {
                           return layer.msg(list.message);
                       }
                       layer.alert("增加成功", {icon: 6},function () {
                           parent.location.reload();
                       });
                    },
                    beforeSend: function(xhr){
                       layer.load();
                    },
                    error: function(xhr, type){
                       layer.closeAll();
                       layer.msg('网络错误，请重试!');
                    }
                });
                return false;
          });

        });
    </script>

  </body>

</html>
