<?php include('header.html'); ?>

<body>
<div class="x-nav">
    <span class="layui-breadcrumb">
        <a><cite>套餐设置</cite></a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <button class="layui-btn" onclick="xadmin.open('添加项目','<?=gurl('xicheManage/itemAdd')?>')"><i class="layui-icon"></i>添加</button>
                </div>
                <div class="layui-card-body card-table">
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>项目名</th>
                            <th>建议价</th>
                            <th>首单免费</th>
                            <th>服务车型</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach($list as $k=>$v){ ?>
                        <tr>
                            <td><?=$v['id']?></td>
                            <td><?=$v['name']?></td>
                            <td><?=round_dollar($v['price'])?></td>
                            <td><?=$v['firstorder']?></td>
                            <td><?=$v['car_type']?></td>
                            <td class="td-manage">
                                <button class="layui-btn layui-btn layui-btn-xs" onclick="xadmin.open('编辑项目','<?=gurl('xicheManage/itemUpdate',['id'=>$v['id']])?>')"><i class="layui-icon"></i>编辑</button>
                                <button class="layui-btn-danger layui-btn layui-btn-xs" onclick="del(<?=$v['id']?>)"><i class="layui-icon">&#xe640;</i>删除</button>
                            </td>
                        </tr>
                        <?php } ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function del(id){
        layer.confirm('确定要删除吗？删除后将同步删除店铺关联的该套餐项目',function(index){
            $.ajax({
                type: 'POST',
                url: '<?=gurl('xicheManage/itemDelete')?>',
                data: {id: id},
                dataType: 'json',
                timeout: 5000,
                success: function(res){
                    layer.closeAll();
                    if(res.errorcode != 0) {
                        return layer.msg(res.message);
                    }
                    layer.msg('删除成功',{icon:1,time:1000});
                    window.location.reload();
                },
                beforeSend: function(xhr){
                    layer.load();
                },
                error: function(xhr, type){
                    layer.closeAll();
                    layer.msg('网络错误，请重试!');
                }
            });
            return;
        });
    }
</script>

</body>

</html>
