<?php include('header.html'); ?>

<body class="login-bg">

    <div class="login layui-anim layui-anim-up">
        <div class="message">管理登录</div>
        <div id="darkbannerwrap"></div>

        <form method="post" class="layui-form" >
            <input autocomplete="off" maxlength="11" name="telephone" type="tel" placeholder="请输入手机号" lay-verify="required" class="layui-input">
            <hr class="hr15">
            <input autocomplete="off" name="password" lay-verify="required" placeholder="请输入密码" maxlength="30" type="password" class="layui-input">
            <hr class="hr15">
            <input style="width: 110px; display: inline-block; margin-right: 10px" autocomplete="off" name="imgcode" maxlength="4" lay-verify="required" type="tel" placeholder="请输入验证码" class="layui-input">
            <img id="imgcode" style="display: inline-block; height: 38px" src="<?=gurl('xicheManage/checkImgCode')?>?t=" onclick="this.src=this.src+parseInt(Math.random()*10)">
            <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20" >
        </form>
    </div>

    <script>
        $(function  () {
            layui.use('form', function(){
              var form = layui.form;

              form.on('submit(login)', function(data){
                  data.field['formhash'] = "<?=encode_formhash()?>";
                  $.ajax({
                      type: 'POST',
                      url: '<?=gurl('xicheManage/login')?>',
                      data: data.field,
                      dataType: 'json',
                      timeout: 5000,
                      success: function(data){
                          layer.closeAll();
                          if(data && data.errorcode === 0){
                              location.replace('<?=gurl('xicheManage/index')?>');
                          }else{
                              $('#imgcode').click();
                              layer.msg(data ? data.message : '登录失败');
                          }
                      },
                      beforeSend: function(xhr){
                          layer.load();
                      },
                      error: function(xhr, type){
                          layer.closeAll();
                          layer.msg('网络错误，请重试!');
                      }
                  });
                return false;
              });
            });
        })


    </script>


    <!-- 底部结束 -->
</body>
</html>
