<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="<?=APPLICATION_URL?>/static/X-admin/css/font.css">
    <link rel="stylesheet" href="<?=APPLICATION_URL?>/static/X-admin/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="<?=APPLICATION_URL?>/static/X-admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="<?=APPLICATION_URL?>/static/X-admin/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a><cite>订单管理</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" method="get">
            <input value="<?=$_GET['telephone']?>" maxlength="11" type="tel" name="telephone"  placeholder="请输入手机号" autocomplete="off" class="layui-input">
            <input value="<?=$_GET['devcode']?>" maxlength="14" type="text" name="devcode"  placeholder="请输入设备编码" autocomplete="off" class="layui-input">
            <input value="<?=$_GET['ordercode']?>" maxlength="64" type="text" name="ordercode"  placeholder="请输入订单号" autocomplete="off" class="layui-input">
            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>

    <span class="x-right" style="line-height:40px">共有数据：<?=$pagesize['totalcount']?> 条</span>

    <table class="layui-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>订单号</th>
            <th>用户</th>
            <th>设备编码</th>
            <th>开始洗车时间</th>
            <th>结束洗车时间</th>
            <th>支付金额</th>
            <th>退款金额</th>
            <th>下单时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($list as $k=>$v){ ?>
        <tr>
            <td><?=$v['id']?></td>
            <td><?=$v['ordercode']?></td>
            <td><?=$v['uname']?> (UID:<?=$v['trade_id']?>)</td>
            <td><?=$v['devcode']?></td>
            <td><?=$v['param_a']?></td>
            <td><?=$v['param_b']?></td>
            <td><?=$v['money']?></td>
            <td><?=$v['refundpay']?></td>
            <td><?=$v['createtime']?></td>
            <td><?=$v['paystatus']?></td>
            <td class="td-manage">
                <a title="查看日志" href="<?=gurl('xicheManage/log',['orderno'=>$v['ordercode']])?>">
                    <i class="layui-icon">&#xe63c;</i>
                </a>
            </td>
        </tr>
        <?php } ?>
        </tbody>
    </table>

    <?php if($pagesize['totalpage']>1){ ?>
    <div class="page">
        <div>
            <?php foreach($pagesize['scrollpage'] as $k=>$v){ ?>
            <?php if($pagesize['page']==$k){ ?>
            <span class="current"><?=$v?></span>
            <?php }else{ ?>
            <a class="num" href="?<?=burl('page='.$k)?>"><?=$v?></a>
            <?php } ?>
            <?php } ?>
        </div>
    </div>
    <?php } ?>

</div>

</body>

</html>