<?php include('header.html'); ?>

  <body>
<div class="layui-fluid">
    <div class="layui-row">
        <form id="form" class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>停车场
                </label>
                <div class="layui-input-inline">
                    <select id="park_id" name="park_id" required="" lay-verify="required" lay-filter="park_id" >
                        <option value="">请选择</option>
                        <?php foreach($parks as $k=>$v){ ?>
                        <option value="<?=$v['id']?>"><?=$v['name']?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>区域
                </label>
                <div class="layui-input-inline">
                    <select id="area_id" name="area_id" required="" lay-verify="required">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>车位号
                </label>
                <div class="layui-input-inline">
                    <input placeholder="请填写车位号" type="text" maxlength="10" name="place" required="" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>状态
                </label>
                <div class="layui-input-inline">
                    <select name="status">
                        <option value="1">正常</option>
                        <option value="0">不支持洗车服务</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <input type="hidden" name="formhash" value="<?=encode_formhash()?>">
                <label class="layui-form-label"></label>
                <button class="layui-btn" lay-filter="add" lay-submit="">提交</button>
            </div>
      </form>
    </div>
</div>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
            var form = layui.form, layer = layui.layer;
            var areas = JSON.parse('<?=json_encode($areas)?>');

            // 选择停车场
            form.on('select(park_id)', function(data){
                $('#area_id').empty();
                $('#area_id').append("<option value=''>请选择</option>");
                if (!data.value || !areas[data.value]) {
                    form.render('select');
                    return false;
                }
                $.each(areas[data.value], function(key,val){
                    $('#area_id').append("<option value='"+val.id+"'>"+val.floor+' '+val.name+"</option>");
                });
                form.render('select');
            });

            //监听提交
            form.on('submit(add)', function(data){
                $.ajax({
                    type: 'POST',
                    url: '<?=gurl("xicheManage/parkingAdd")?>',
                    data: data.field,
                    dataType: 'json',
                    timeout: 10000,
                    success: function(list){
                       layer.closeAll();
                       if(list.errorcode != 0) {
                           return layer.msg(list.message);
                       }
                       layer.alert("增加成功", {icon: 6},function () {
                           parent.location.reload();
                       });
                    },
                    beforeSend: function(xhr){
                       layer.load();
                    },
                    error: function(xhr, type){
                       layer.closeAll();
                       layer.msg('网络错误，请重试!');
                    }
                });
                return false;
          });

        });
    </script>

  </body>

</html>
