<?php include('header.html'); ?>

  <body>
    <div class="layui-fluid">
        <div class="layui-row">

        <div class="layui-tab">
            <ul class="layui-tab-title">
                <li class="layui-this">订单信息</li>
                <li>订单状态</li>
            </ul>
            <div class="layui-tab-content" >
                <div class="layui-tab-item layui-show" >
                    <div class="layui-card">
                        <div class="layui-card-body">
                            编号：<?=$info['id']?>
                        </div>
                        <div class="layui-card-body">
                            流水号：<?=$info['order_code']?>
                        </div>
                        <div class="layui-card-body">
                            下单时间：<?=$info['create_time']?>
                        </div>
                        <div class="layui-card-body">
                            订单金额：<?=($info['pay']+$info['deduct'])/100?> 元
                        </div>
                        <div class="layui-card-body">
                            已付款：<?=$info['pay']/100?> 元
                        </div>
                        <div class="layui-card-body">
                            支付方式：<?=$info['payway']?>
                        </div>
                        <div class="layui-card-body">
                            是否会员下单：<?=$info['payway']=='洗车VIP'?'是':'否'?>
                        </div>
                        <div class="layui-card-body">
                            状态：<?=$info['status_str']?>
                        </div>
                        <?php if($info['fail_reason']){ ?>
                        <div class="layui-card-body">
                            异常原因：<?=$info['fail_reason']?>
                        </div>
                        <?php } ?>
                    </div>
                    <div class="layui-card">
                        <div class="layui-card-header">店铺信息</div>
                        <div class="layui-card-body">
                            名称：<?=$info['store_name']?>
                        </div>
                        <div class="layui-card-body">
                            电话：<?=$info['store_tel']?>
                        </div>
                        <div class="layui-card-body">
                            地址：<?=$info['store_address']?>
                        </div>
                        <div class="layui-card-body">
                            总收益：<?=$info['store_money']/100?> 元
                        </div>
                    </div>
                    <div class="layui-card">
                        <div class="layui-card-header">顾客信息</div>
                        <div class="layui-card-body">
                            电话：<?=$info['user_tel']?>
                        </div>
                        <div class="layui-card-body">
                            车牌号：<?=$info['car_number']?>
                        </div>
                        <div class="layui-card-body">
                            品牌：<?=$info['brand_name']?>
                        </div>
                        <div class="layui-card-body">
                            车系：<?=$info['series_name']?>
                        </div>
                        <div class="layui-card-body">
                            区域：<?=$info['area_name']?>
                        </div>
                        <div class="layui-card-body">
                            楼层：<?=$info['area_floor']?>
                        </div>
                        <div class="layui-card-body">
                            车位号：<?=$info['place']?>
                        </div>
                        <div class="layui-card-body">
                            套餐：<?=$info['item_name']?>
                        </div>
                        <div class="layui-card-body">
                            预约时间：<?=$info['order_time']?> - <?=$info['abort_time']?>
                        </div>
                    </div>
                    <?php if ($info['entry_park_id']) { ?>
                    <div class="layui-card">
                        <div class="layui-card-header">车辆出入场信息</div>
                        <div class="layui-card-body">
                            车牌号：<?=$info['car_number']?>
                        </div>
                        <div class="layui-card-body">
                            所在停车场：<?=$info['park_name']?>
                        </div>
                        <div class="layui-card-body">
                            入场时间：<?=$info['entry_park_time']?>
                        </div>
                        <div class="layui-card-body">
                            出场时间：<?=$info['out_park_time']?>
                        </div>
                        <div class="layui-card-body">
                            车秘出入场记录流水号：<?=$info['entry_order_sn']?>
                        </div>
                    </div>
                    <?php } ?>
                    <?php if ($info['status']==1) { ?>
                    <div class="layui-card">
                        <div class="layui-card-header"><button onclick="entryParkInfo(<?=$info['id']?>)" class="layui-btn">手动查询「<?=$info['car_number']?>」入场信息</button></div>
                    </div>
                    <?php } ?>
                </div>
                <div class="layui-tab-item">
                    <ul class="layui-timeline">
                        <?php foreach($info['sequence'] as $v){ ?>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title"><?=date('Y年m月d日 H:i', strtotime($v['create_time']))?></h3>
                                <p><?=$v['title']?></p>
                            </div>
                        </li>
                        <?php } ?>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title">开始</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    </div>
<script>
    function entryParkInfo(id) {
        $.ajax({
            type: 'POST',
            url: "<?=gurl('xicheManage/entryParkInfo')?>",
            data: {id: id},
            dataType: 'json',
            timeout: 5000,
            success: function(res){
                layer.closeAll();
                if(res.errorcode != 0) {
                    return layer.msg(res.message);
                }
                layer.msg('查询成功',{icon:1,time:1000});
                window.location.reload();
            },
            beforeSend: function(xhr){
                layer.load();
            },
            error: function(xhr, type){
                layer.closeAll();
                layer.msg('网络错误，请重试!');
            }
        });
    }
</script>
  </body>

</html>
