<?php include('header.html'); ?>

<body>
<div class="x-nav">
    <span class="layui-breadcrumb">
        <a><cite>停车场洗车订单管理</cite></a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5" method="get">
                        <div class="layui-input-inline layui-show-xs-block">
                            <input value="<?=$_GET['store_name']?>" maxlength="50" type="text" name="store_name" placeholder="请输入店铺名" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <input value="<?=$_GET['user_tel']?>" maxlength="11" type="tel" name="user_tel" placeholder="请输入手机号" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <input value="<?=$_GET['car_number']?>" maxlength="10" type="text" name="car_number" placeholder="请输入车牌" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <input value="<?=$_GET['place']?>" maxlength="10" type="text" name="place" placeholder="请输入车位号" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <select name="status">
                                <option value="">订单状态</option>
                                <?php foreach($statusList as $k=>$v){ ?>
                                <option <?php if($_GET['status']==$k){ ?>selected<?php } ?> value="<?=$k?>"><?=$v?></option>
                                <?php } ?>
                            </select>
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <select name="payway">
                                <option value="">支付方式</option>
                                <option <?php if($_GET['payway']=='cbpay'){ ?>selected<?php } ?> value="cbpay">车币</option>
                                <option <?php if($_GET['payway']=='wxpaywash'){ ?>selected<?php } ?> value="wxpaywash">微信</option>
                                <option <?php if($_GET['payway']=='vippay'){ ?>selected<?php } ?> value="vippay">洗车VIP</option>
                                <option <?php if($_GET['payway']=='firstpay'){ ?>selected<?php } ?> value="firstpay">首单免费</option>
                            </select>
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <input value="<?=$_GET['start_time']?>" class="layui-input" id="start_time" name="start_time" placeholder="预约开始日期" readonly>
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <input value="<?=$_GET['end_time']?>" class="layui-input" id="end_time" name="end_time" placeholder="预约截止日期" readonly>
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                        </div>
                    </form>
                </div>
                <div class="layui-card-header">
                    <a href="?<?=burl('start_time='.$dateTime['today_start'].'&end_time='.$dateTime['today_end'])?>" class="layui-btn <?php if($dateTime['today_start']==$_GET['start_time']&&$dateTime['today_end']==$_GET['end_time']){ ?>layui-btn-primary<?php } ?>">今日</a>
                    <a href="?<?=burl('start_time='.$dateTime['tomorrow_start'].'&end_time='.$dateTime['tomorrow_end'])?>" class="layui-btn <?php if($dateTime['tomorrow_start']==$_GET['start_time']&&$dateTime['tomorrow_end']==$_GET['end_time']){ ?>layui-btn-primary<?php } ?>">明日</a>
                    <a href="?<?=burl('start_time='.$dateTime['week_start'].'&end_time='.$dateTime['week_end'])?>" class="layui-btn <?php if($dateTime['week_start']==$_GET['start_time']&&$dateTime['week_end']==$_GET['end_time']){ ?>layui-btn-primary<?php } ?>">本周</a>
                    <a href="?<?=burl('start_time='.$dateTime['month_start'].'&end_time='.$dateTime['month_end'])?>" class="layui-btn <?php if($dateTime['month_start']==$_GET['start_time']&&$dateTime['month_end']==$_GET['end_time']){ ?>layui-btn-primary<?php } ?>">本月</a>
                    <a href="?<?=burl('start_time='.$dateTime['lastmonth_start'].'&end_time='.$dateTime['lastmonth_end'])?>" class="layui-btn <?php if($dateTime['lastmonth_start']==$_GET['start_time']&&$dateTime['lastmonth_end']==$_GET['end_time']){ ?>layui-btn-primary<?php } ?>">上月</a>
                    <a href="?<?=burl('start_time='.$dateTime['year_start'].'&end_time='.$dateTime['year_end'])?>" class="layui-btn <?php if($dateTime['year_start']==$_GET['start_time']&&$dateTime['year_end']==$_GET['end_time']){ ?>layui-btn-primary<?php } ?>">本年</a>
                    <a href="?<?=burl('export=1')?>" class="layui-btn layui-btn-normal" target="temp">导出</a>
                    <iframe name="temp" style="display: none;"></iframe>
                    <span class="right-page">共有订单：<?=$pagesize['totalcount']?> 条</span>
                </div>
                <div class="layui-card-body card-table">
                    <table class="layui-table" lay-size="sm">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>店铺</th>
                            <th>下单时间</th>
                            <th>车牌</th>
                            <th>车系</th>
                            <th>用户手机</th>
                            <th>预约时间</th>
                            <th>区域</th>
                            <th>车位号</th>
                            <th>套餐</th>
                            <th>支付金额</th>
                            <th>支付方式</th>
                            <th>状态</th>
                            <th>入场时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach($list as $k=>$v){ ?>
                        <tr>
                            <td><?=$v['id']?></td>
                            <td><?=$v['store_name']?></td>
                            <td><?=$v['create_time']?></td>
                            <td><?=$v['car_number']?></td>
                            <td><?=$v['car_name']?></td>
                            <td><?=$v['user_tel']?></td>
                            <td><?=$v['order_time']?></td>
                            <td><?=$v['area_name']?> <?=$v['area_floor']?></td>
                            <td><?=$v['place']?></td>
                            <td><?=$v['item_name']?></td>
                            <td><?=$v['pay']?></td>
                            <td><?=$v['payway']?></td>
                            <td><?=$v['status_str']?></td>
                            <td><?=$v['entry_park_time']?></td>
                            <td class="td-manage">
                                <span style="cursor: pointer" class="layui-badge layui-bg-blue" onclick="xadmin.open('查看详情','<?=gurl('xicheManage/parkOrderView',['id'=>$v['id']])?>')">详情</span>
                                <?php if($v['status']==1||$v['status']==13){ ?>
                                <span style="cursor: pointer" class="layui-badge layui-bg-green" onclick="service(<?=$v['id']?>)">开始服务</span>
                                <?php } ?>
                                <?php if($v['status']==3){ ?>
                                <span style="cursor: pointer" class="layui-badge layui-bg-green" onclick="complete(<?=$v['id']?>)">完成洗车</span>
                                <?php } ?>
                                <?php if($v['status']==1||$v['status']==13||$v['status']==2||$v['status']==3){ ?>
                                <span style="cursor: pointer" class="layui-badge" onclick="fail(<?=$v['id']?>)">异常</span>
                                <?php } ?>
                            </td>
                        </tr>
                        <?php } ?>
                        </tbody>
                    </table>
                </div>
                <?php if($pagesize['totalpage']>1){ ?>
                <div class="layui-card-body ">
                    <div class="page">
                        <div>
                            <?php foreach($pagesize['scrollpage'] as $k=>$v){ ?>
                            <?php if($pagesize['page']==$k){ ?>
                            <span class="current"><?=$v?></span>
                            <?php }else{ ?>
                            <a class="num" href="?<?=burl('page='.$k)?>"><?=$v?></a>
                            <?php } ?>
                            <?php } ?>
                        </div>
                    </div>
                </div>
                <?php } ?>
            </div>
        </div>
    </div>
</div>

<style>
    .notice-order{
        display:block;
        width: 300px;
        height: 160px;
        border: 10px solid #F8F8F8;
        border-top-width: 0;
        padding: 10px;
        line-height:20px;
        overflow:auto;
        background-color: #3F3F3F;
        color: #eee;
        font-size:12px;
        font-family:Courier New;
    }
</style>
<script>
    layui.use(['laydate','form'], function(){
        var laydate = layui.laydate;
        laydate.render({
            elem: '#start_time'
        });
        laydate.render({
            elem: '#end_time'
        });
        loadNotice(function(data){
            var content = [];
            if (data.noPlaceCount) {
                content.push('<i class="layui-icon">&#xe667;</i> 洗车提醒，有 ' + data.noPlaceCount + ' 个订单用户未填写车位号，请和用户确认订单信息。');
            }
            layer.open({
                type: 1,
                title: '订单提醒',
                closeBtn: 0,
                shade: false,
                offset: 'rb',
                time: 10000,
                anim: 2,
                resize: false,
                content: '<div class="notice-order">' + content.join() + '</div>',
                end: function(){
                    window.location.reload();
                }
            });
        });
    });
    function loadNotice (show) {
        setTimeout(function(){
            $.ajax({
                type: 'get',
                url: "<?=gurl('xicheManage/orderAlert')?>",
                dataType: 'json',
                timeout: 1000,
                success: function(res){
                    var result = res.result;
                    if (result.noPlaceCount) {
                        show(result);
                    } else {
                        loadNotice(show);
                    }
                },
                beforeSend: function(xhr){
                },
                error: function(xhr, type){
                }
            });
        }, 10000);
    }
    function fail(id){
        layer.prompt({
            formType: 2,
            value: '',
            title: '请输入异常原因 (注:提交后订单进入已完成状态,且不发送消息提醒)',
            maxlength: 100,
            area: ['400px', '150px'] //自定义文本域宽高
        }, function(value, index, elem){
            $.ajax({
                type: 'POST',
                url: "<?=gurl('xicheManage/parkOrderStatusUpdate')?>",
                data: {id: id, status: 4, fail_reason:value},
                dataType: 'json',
                timeout: 5000,
                success: function(res){
                    layer.closeAll();
                    if(res.errorcode != 0) {
                        return layer.msg(res.message);
                    }
                    layer.msg('操作成功',{icon:1,time:1000});
                    window.location.reload();
                },
                beforeSend: function(xhr){
                    layer.load();
                },
                error: function(xhr, type){
                    layer.closeAll();
                    layer.msg('网络错误，请重试!');
                }
            });
            layer.close(index);
        });
        var event = event || window.event;
        if(event.stopPropagation){
            event.stopPropagation();
        }else {
            event.cancelBubble = true;
        }
        return false;
    }
    function complete(id){
        layer.confirm('确定已完成洗车吗？完成洗车后不能撤销操作',function(index){
            $.ajax({
                type: 'POST',
                url: "<?=gurl('xicheManage/parkOrderStatusUpdate')?>",
                data: {id: id, status: 4},
                dataType: 'json',
                timeout: 5000,
                success: function(res){
                    layer.closeAll();
                    if(res.errorcode != 0) {
                        return layer.msg(res.message);
                    }
                    layer.msg('操作成功',{icon:1,time:1000});
                    window.location.reload();
                },
                beforeSend: function(xhr){
                    layer.load();
                },
                error: function(xhr, type){
                    layer.closeAll();
                    layer.msg('网络错误，请重试!');
                }
            });
            return;
        });
        var event = event || window.event;
        if(event.stopPropagation){
            event.stopPropagation();
        }else {
            event.cancelBubble = true;
        }
        return false;
    }
    function service(id){
        layer.confirm('确定要开始服务吗？开始服务后不能撤销操作',function(index){
            $.ajax({
                type: 'POST',
                url: "<?=gurl('xicheManage/parkOrderStatusUpdate')?>",
                data: {id: id, status: 3},
                dataType: 'json',
                timeout: 5000,
                success: function(res){
                    layer.closeAll();
                    if(res.errorcode != 0) {
                        return layer.msg(res.message);
                    }
                    layer.msg('操作成功',{icon:1,time:1000});
                    window.location.reload();
                },
                beforeSend: function(xhr){
                    layer.load();
                },
                error: function(xhr, type){
                    layer.closeAll();
                    layer.msg('网络错误，请重试!');
                }
            });
            return;
        });
        var event = event || window.event;
        if(event.stopPropagation){
            event.stopPropagation();
        }else {
            event.cancelBubble = true;
        }
        return false;
    }
    function take(id){
        layer.confirm('确定要接单吗？接单后不能撤销操作',function(index){
            $.ajax({
                type: 'POST',
                url: "<?=gurl('xicheManage/parkOrderStatusUpdate')?>",
                data: {id: id, status: 2},
                dataType: 'json',
                timeout: 5000,
                success: function(res){
                    layer.closeAll();
                    if(res.errorcode != 0) {
                        return layer.msg(res.message);
                    }
                    layer.msg('操作成功',{icon:1,time:1000});
                    window.location.reload();
                },
                beforeSend: function(xhr){
                    layer.load();
                },
                error: function(xhr, type){
                    layer.closeAll();
                    layer.msg('网络错误，请重试!');
                }
            });
            return;
        });
        var event = event || window.event;
        if(event.stopPropagation){
            event.stopPropagation();
        }else {
            event.cancelBubble = true;
        }
        return false;
    }
</script>
</body>

</html>
