<?php include('header.html'); ?>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a><cite>店铺管理</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" method="get">
            <input value="<?=$_GET['name']?>" maxlength="30" type="text" name="name" placeholder="请输入店铺名称" autocomplete="off" class="layui-input">
            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <xblock>
        <button class="layui-btn" onclick="x_admin_show('添加店铺','<?=gurl('xicheManage/storeAdd')?>')"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px">共有数据：<?=$pagesize['totalcount']?> 条</span>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>区域代码</th>
            <th>店名</th>
            <th>缩略图</th>
            <th>电话</th>
            <th>地址</th>
            <th>营业时间</th>
            <th>最低套餐价</th>
            <th>下单数</th>
            <th>总收益</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($list as $k=>$v){ ?>
        <tr>
            <td><?=$v['id']?></td>
            <td><?=$v['adcode']?></td>
            <td><?=$v['name']?></td>
            <td><?=$v['logo']?></td>
            <td><?=$v['tel']?></td>
            <td><?=$v['address']?></td>
            <td><?=$v['business_hours']?></td>
            <td><?=round_dollar($v['price'],false)?></td>
            <td><?=$v['order_count']?></td>
            <td><?=round_dollar($v['money'],false)?></td>
            <td><?=$v['str_status']?></td>
            <td class="td-manage">
                <button class="layui-btn layui-btn layui-btn-xs" onclick="x_admin_show('编辑店铺','<?=gurl('xicheManage/storeUpdate',['id'=>$v['id']])?>')"><i class="layui-icon"></i>编辑</button>
            </td>
        </tr>
        <?php } ?>
        </tbody>
    </table>

    <?php if($pagesize['totalpage']>1){ ?>
    <div class="page">
        <div>
            <?php foreach($pagesize['scrollpage'] as $k=>$v){ ?>
            <?php if($pagesize['page']==$k){ ?>
            <span class="current"><?=$v?></span>
            <?php }else{ ?>
            <a class="num" href="?<?=burl('page='.$k)?>"><?=$v?></a>
            <?php } ?>
            <?php } ?>
        </div>
    </div>
    <?php } ?>

</div>

</body>

</html>
