<?php include('header.html'); ?>

  <body>
    <div class="x-body">
        <form id="form" class="layui-form" enctype="multipart/form-data">
            <div class="layui-form-item">
                <label class="layui-form-label">
                  <span class="x-red">*</span>区域代码
                </label>
                <div class="layui-input-inline">
                  <input placeholder="请填写区域代码 (贵阳:520100)" type="tel" maxlength="6" id="adcode" name="adcode" required="" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline" style="line-height: 30px">
                    <a href="http://www.mca.gov.cn/article/sj/xzqh/1980/2019/201903011116.html" target="_blank">行政区划代码查询</a>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>店铺名称
                </label>
                <div class="layui-input-inline">
                    <input placeholder="请填写店铺名称" type="text" maxlength="20" id="name" name="name" required="" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    店铺照片
                </label>
                <div class="layui-input-inline">
                    <input type="file" maxlength="6" id="logo" name="logo">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>联系手机
                </label>
                <div class="layui-input-inline">
                    <input placeholder="请填写手机号" type="tel" maxlength="11" id="tel" name="tel" required="" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>店铺地址
                </label>
                <div class="layui-input-inline">
                    <input placeholder="请填写店铺地址" type="text" maxlength="200" id="address" name="address" required="" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>经纬度
                </label>
                <div class="layui-input-inline" style="width: 320px;">
                    <input placeholder="请输入经纬度坐标,格式为“经度,纬度”,坐标系为gcj02" type="text" maxlength="30" id="location" name="location" required="" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline" style="line-height: 30px">
                    <a href="http://www.gpsspg.com/maps.htm" target="_blank">经纬度查询</a>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>营业时间
                </label>
                <div class="layui-input-inline">
                    <input placeholder="请填写营业时间,如:9:00-10:00" type="text" maxlength="11" id="business_hours" name="business_hours" required="" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    活动描述
                </label>
                <div class="layui-input-inline">
                    <input placeholder="请填写活动描述" type="text" maxlength="100" id="market" name="market" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>每日取消次数
                </label>
                <div class="layui-input-inline">
                    <input placeholder="请填写每日限制取消次数" type="tel" maxlength="3" value="2" id="daily_cancel_limit" name="daily_cancel_limit" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>订单数倍率
                </label>
                <div class="layui-input-inline">
                    <input placeholder="请填写订单数倍率" type="tel" maxlength="3" value="1" id="order_count_ratio" name="order_count_ratio" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>状态
                </label>
                <div class="layui-input-inline">
                    <select name="status">
                        <option value="1">正常营业</option>
                        <option value="0">建设中</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">
                    <span class="x-red">*</span>套餐设置
                </label>
                <div class="layui-input-block">
                    <table class="layui-table">
                        <colgroup>
                            <col width="200">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>套餐名称</th>
                            <th>价格(元),若关闭套餐,请设置0元</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach($items as $v){ ?>
                        <tr>
                            <td><?=$v['name']?></td>
                            <td><input name="item[<?=$v['id']?>]" style="width: 50px" type="tel" maxlength="5" value="<?=$v['price']/100?>" autocomplete="off" class="layui-input"/></td>
                        </tr>
                        <?php } ?>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">
                    <span class="x-red">*</span>排班设置
                </label>
                <div class="layui-input-block">
                    <table class="layui-table">
                        <colgroup>
                            <col width="200">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>设置项</th>
                            <th>设置值</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>排班时段</td>
                            <td><div class="layui-input-inline">
                                <select name="time_interval">
                                    <option value="20">20分钟</option>
                                    <option value="30">30分钟</option>
                                    <option value="40">40分钟</option>
                                    <option value="50">50分钟</option>
                                    <option value="60">60分钟</option>
                                </select></div>
                            </td>
                        </tr>
                        <tr>
                            <td>排班时段最大下单量</td>
                            <td><input name="time_amount" style="width: 50px" type="tel" maxlength="3" value="2" autocomplete="off" class="layui-input"/></td>
                        </tr>
                        <tr>
                            <td>工作日</td>
                            <td>
                                <input type="checkbox" name="time_day[]" value="1" title="星期一" checked>
                                <input type="checkbox" name="time_day[]" value="2" title="星期二" checked>
                                <input type="checkbox" name="time_day[]" value="3" title="星期三" checked>
                                <input type="checkbox" name="time_day[]" value="4" title="星期四" checked>
                                <input type="checkbox" name="time_day[]" value="5" title="星期五" checked>
                                <input type="checkbox" name="time_day[]" value="6" title="星期六" >
                                <input type="checkbox" name="time_day[]" value="7" title="星期日" >
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="layui-form-item">
                <input type="hidden" name="formhash" value="<?=encode_formhash()?>">
                <label class="layui-form-label"></label>
                <button class="layui-btn" lay-filter="add" lay-submit="">提交</button>
            </div>
      </form>
    </div>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
            var form = layui.form, layer = layui.layer;

            //监听提交
            form.on('submit(add)', function(data){
                var formData = new FormData($("#form")[0]);
                $.ajax({
                    type: 'POST',
                    url: '<?=gurl('xicheManage/storeAdd')?>',
                    data: formData,
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    dataType: 'json',
                    timeout: 10000,
                    success: function(list){
                       layer.closeAll();
                       if(list.errorcode != 0) {
                           return layer.msg(list.message);
                       }
                       layer.alert("增加成功", {icon: 6},function () {
                           parent.location.reload();
                       });
                    },
                    beforeSend: function(xhr){
                       layer.load();
                    },
                    error: function(xhr, type){
                       layer.closeAll();
                       layer.msg('网络错误，请重试!');
                    }
                });
                return false;
          });

        });
    </script>

  </body>

</html>
