<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>支付确认</title>
    <link rel="stylesheet" href="<?=APPLICATION_URL?>/static/weui/weui.min.css"/>
    <style>
        .page_title{
            text-align: center;
            font-size: 22px;
            padding-top: 20px;
            font-weight: normal;
        }
        .weui-icon-success-no-circle:before{
            color: #fff;
        }
        .weui-msg__extra-area {
            margin-bottom: 15px;
            font-size: 14px;
            color: #808080;
        }
        @media screen and (min-height: 438px) {
            .weui-msg__extra-area {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                text-align: center;
            }
        }
    </style>
</head>
<body ontouchstart>

<h1 class="page_title">设备：<?=$deviceInfo['areaname']?></h1>
<div class="weui-cells weui-cells_form weui-cells_radio" id="form">
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">账号</label></div>
        <div class="weui-cell__bd"><?=$userInfo['telephone']?></div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">余额</label></div>
        <div class="weui-cell__bd"><?=round_dollar($userInfo['money'])?> 元</div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">价格</label></div>
        <div class="weui-cell__bd"><b style="color: red"><?=round_dollar($deviceInfo['price'])?></b> 元 / 次</div>
    </div>

    <label class="weui-cell weui-check__label" for="x11">
        <div class="weui-cell__bd">
            <p>余额支付</p>
        </div>
        <div class="weui-cell__ft">
            <input type="radio" class="weui-check" name="payway" value="cbpay" <?php if($userInfo['money'] >= $deviceInfo['price']){ ?> checked="checked" <?php } ?> id="x11">
            <span class="weui-icon-checked"></span>
        </div>
    </label>

    <label class="weui-cell weui-check__label" for="x12">
        <div class="weui-cell__bd">
            <p>在线支付</p>
        </div>
        <div class="weui-cell__ft">
            <input type="radio" name="payway" class="weui-check" value="wxpay" <?php if($userInfo['money'] < $deviceInfo['price']){ ?> checked="checked" <?php } ?> id="x12">
            <span class="weui-icon-checked"></span>
        </div>
    </label>

</div>

<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary <?php if($deviceInfo['price'] > $userInfo['money'] && $clienttype != 'wx' && $clienttype != 'cm'){ ?>weui-btn_disabled<?php } ?>" href="javascript:" id="wxformSubmitBtn">
        <i class="weui-icon-success-no-circle"></i> 确认支付
    </a>
</div>

<?php if($clienttype == 'wx'){ ?>
<div id="changeBinding" class="weui-btn-area">
    <i class="weui-icon-info-circle" style="color: #FFBE00; vertical-align: middle;"></i> 绑定到其他账号
</div>
<?php } ?>

<?php if($deviceInfo['price'] > $userInfo['money'] && $clienttype != 'wx' && $clienttype != 'cm'){ ?>
<div class="weui-btn-area">
    <i class="weui-icon-warn"></i> 当前支付环境不支持在线支付
</div>
<?php } ?>

<div class="weui-msg__extra-area">
    <div class="weui-footer">
        <p class="weui-footer__links">
            <a href="javascript:void(0);" class="weui-footer__link">车秘科技</a>
        </p>
        <p class="weui-footer__text">Copyright © 2018 chemi.ren</p>
    </div>
</div>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="<?=APPLICATION_URL?>/static/js/zepto.min.js"></script>
<script src="<?=APPLICATION_URL?>/static/weui/weui.min.js"></script>

<script type="text/javascript">

$(function(){
    var loading_el = null;
    $("#wxformSubmitBtn").on("click", function () {
        var _self = $(this);
        if(_self.hasClass('weui-btn_disabled')){
            return false;
        }

        $.ajax({
            type: 'POST',
            url: '<?=gurl('xiche/createCard',burl())?>',
            data: {payway:$('input[name=payway]:checked').val()},
            dataType: 'json',
            timeout: 5000,
            success: function(card){
                //1
                if(card.errorcode != 0){
                    loading_el.hide();
                    _self.removeClass('weui-btn_disabled');
                    return weui.alert(card.message);
                }
                $.ajax({
                    type: 'POST',
                    url: '<?=gurl('xiche/payQuery')?>',
                    data: {tradeid:card.result.tradeid},
                    dataType: 'json',
                    timeout: 5000,
                    success: function(query){
                        //2
                        if(query.errorcode == 0){
                            loading_el.hide();
                            weui.toast(query.message,{duration:1000,callback:function(){
                                location.replace('<?=gurl('xiche/payItem',burl())?>&tradeid='+card.result.tradeid);
                            }});
                            return false;
                        }
                        // 车秘APP支付
                        <?php if($clienttype == 'cm'){ ?>
                        if (typeof js != "undefined" && typeof js.ScanAction != "undefined") {
                            try {
                                js.ScanAction();
                            }catch (e) {
                                weui.alert(JSON.stringify(e));
                            }
                        } else if (typeof window.webkit != "undefined") {
                            try {
                                window.webkit.messageHandlers.ScanAction.postMessage(null);
                            }catch (e) {
                                weui.alert(JSON.stringify(e))
                            }
                        } else {
                            weui.alert("ScanAction(...) is not defined.");
                        }
                        loading_el.hide();
                        _self.removeClass('weui-btn_disabled');
                        return false;
                        <?php } ?>
                        $.ajax({
                            type: 'POST',
                            url: '<?=gurl('wxpayjs/api')?>',
                            data: {tradeid:card.result.tradeid},
                            dataType: 'json',
                            timeout: 5000,
                            success: function(wxsdk){
                                //3
                                if(wxsdk.errorcode != 0){
                                    loading_el.hide();
                                    _self.removeClass('weui-btn_disabled');
                                    return weui.alert(wxsdk.message);
                                }
                                loading_el.hide();
                                JSAPI.chooseWXPay_1(wxsdk.result,function(res){
                                    //4
                                    loading_el.hide();
                                    weui.toast('支付完成',{duration:2000,callback:function(){
                                        location.replace('<?=gurl('xiche/payItem',burl())?>&tradeid='+card.result.tradeid);
                                    }});
                                },function(res){
                                    loading_el.hide();
                                    weui.alert('支付失败');
                                    _self.removeClass('weui-btn_disabled');
                                },function(res){
                                    if(res['errMsg'] == 'chooseWXPay:fail' || res['err_msg'] == 'get_brand_wcpay_request:fail') {
                                        weui.alert('支付失败,请重试!'+JSON.stringify(res));
                                        _self.removeClass('weui-btn_disabled');
                                    }
                                });
                                return false;
                            },
                            error: function(xhr, type){
                                loading_el.hide();
                                weui.alert('网络错误，请重试!');
                                _self.removeClass('weui-btn_disabled');
                            }
                        });
                    },
                    error: function(xhr, type){
                        loading_el.hide();
                        weui.alert('网络错误，请重试!');
                        _self.removeClass('weui-btn_disabled');
                    }
                });
            },
            beforeSend: function(xhr){
                loading_el = weui.loading('提交中...');
                _self.addClass('weui-btn_disabled');
            },
            error: function(xhr, type){
                loading_el.hide();
                weui.alert('网络错误，请重试!');
                _self.removeClass('weui-btn_disabled');
            }
        });

    });

    $('#changeBinding').on('click',function(){
        weui.confirm('是否解绑当前账号？', function(){
            $.ajax({
                type: 'get',
                url: '<?=gurl('xiche/unbind')?>',
                dataType: 'json',
                timeout: 5000,
                success: function(data){
                    if(data.errorcode != 0){
                        weui.alert(data.message);
                        return false;
                    }
                    weui.toast('解绑成功',{duration:1000,callback:function(){
                        location.replace('<?=gurl('xiche/login',burl())?>');
                    }});
                    return true;
                },
                beforeSend: function(xhr){
                },
                error: function(xhr, type){
                    weui.alert('网络错误，请重试!');
                }
            });
        });
    });

    var JSAPI = {
        chooseWXPay: function(config, success, fail, complete){
            config = typeof config == 'object' ? config : {};
            config.success = success;
            config.cancel = fail;
            config.complete = complete;
            setTimeout(function(){wx.chooseWXPay(config);},300);
        },
        chooseWXPay_1: function(config, success, fail, complete){
            setTimeout(function(){
                WeixinJSBridge.invoke(
                    'getBrandWCPayRequest',{
                        "appId":config.appId,
                        "timeStamp":config.timestamp,
                        "nonceStr":config.nonceStr,
                        "package":config.package,
                        "signType":config.signType,
                        "paySign":config.paySign
                    },
                    function(res){
                        if(res.err_msg == "get_brand_wcpay_request:ok"){
                            success(res);
                        }else if(res.err_msg == "get_brand_wcpay_request:cancel"){
                            fail(res);
                        }else{
                            complete(res);
                        }
                    }
                );
            },300);
        }
    };

<?php if(isset($jssdk) && $jssdk){ ?>
    wx.config({
        debug: false,
        appId: '<?=$jssdk['appId']?>',
        timestamp: <?=$jssdk['timestamp']?>,
        nonceStr: '<?=$jssdk['nonceStr']?>',
        signature: '<?=$jssdk['signature']?>',
        jsApiList: [
            'chooseWXPay'
        ]
    });
<?php } ?>

});

</script>
</body>
</html>